COMPOSE_NODE_IMAGE=node:18-alpine
COMPOSE_MARIADB_IMAGE=mariadb:11
COMPOSE_APP_SHELL_COMMAND=npm install --only=production && node server.prod.js
NODE_ENV=production
PROD_BIND_HOST=127.0.0.1
PROD_HOST_PORT=7007
CONTAINER_APP_PORT=7007
MARIADB_DATABASE=user_profile_prod_cppeurope_v1
MARIADB_USER=c
MARIADB_PASSWORD=CHANGE_ME
MARIADB_ROOT_PASSWORD=CHANGE_ME
MARIADB_HOST_PORT=3312
COMPOSE_VOLUME_USERPROFILE_DB=usermediaprofile-backend_userprofile-db-data
COMPOSE_DB_ADMIN_NET_NAME=db-admin-net
