COMPOSE_NODE_IMAGE=node:18-alpine
COMPOSE_MARIADB_IMAGE=mariadb:11
COMPOSE_APP_SHELL_COMMAND=npm install --only=production && node server.prod.js
NODE_ENV=production
PRESSE_BASE_URL=http://62.171.186.233:7016
PROD_BIND_HOST=127.0.0.1
PROD_HOST_PORT=7004
CONTAINER_APP_PORT=7004
MARIADB_DATABASE=media_prod_cppeurope_v1
MARIADB_USER=c
MARIADB_PASSWORD=CHANGE_ME
MARIADB_ROOT_PASSWORD=CHANGE_ME
COMPOSE_VOLUME_MEDIA_DB=media-backend_media-db-data
